.search__submit {
  width: 34px;
  height: 25px;
  border: none;
  border-radius: 15px;
  background: url('../../../static/img/search-button.png') no-repeat;
  background-position: 50% 0%;
  background-size: 120%;
  cursor: pointer;
}
