.header__logo {
  width: 329px;
  height: 60px;
  margin: 15px 15px 15px 10px;
  background-image: url("../../../static/img/logo.png");
  background-origin: content-box;
  background-repeat: no-repeat;
  background-position: top left;
}
